body{
    margin: 0;    
}
h1{
    margin: 0;
}
header{
    background-color: #2f78d6;
    display: flex;
    text-align: center;
    justify-content: space-between;/* Só funciona se tiver display:flex */
    padding: 10px;
}
#box-ordenar button, #box-categorias button{
    
    border: 0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;

}
#box-ordenar button{
    background-color: #020c96; 
}
#box-categorias button{
    background-color: #4caf50;
}